.contacts-section {
  padding-top: 80px;
  padding-bottom: 77px;
  background-image: url("../img/contacts-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-ebony);

  &__form {
    background-color: var(--light-color);
  }

  &__container {
    display: flex;
    justify-content: flex-end;
  }
}

.contacts-form {
  @include flex-column-start;
  padding: 48px 40px;
  max-width: 495px;


border: 1px solid #E5E8ED;
box-shadow: var(--main-shadow);
border-radius: 4px;

  &__title {
    margin: 0;
    margin-bottom: 24px;
    width: 100%;
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    color: var(--color-ebony);
  }

  &__field {
    margin-bottom: 21px;
  }
  &__checkbox {
    margin-bottom: 22px;
  }
  &__btn {
    padding: 12px 31px;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
}
