.portfolio-section {
  padding: 120px 0;
  background-color: var(--light-color);
  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 48px;

  }
  &__slider-nav {
    transform: translateX(12px);
  }
  &__title {
    margin: 0;
    padding-bottom: 12px;
    width: 710px;

  }
  &__learn {
    margin-top: 80px;
  }
  &__items {
    padding: 100px;
    margin: -100px;

    .swiper-slide {
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    }
    .slider-visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

