<div class="comments">
  <h2 class="title title--center">
    4 comments
  </h2>
  <ul class="list-reset comments__list">
    <li class="comments__item">
      <article class="comment">

        <div class="comment__left">
          <span class="comments__author">
            Devon Lane
          </span>
          <time datetime="2020-07-15 19:00" class="comment__time">
            July 15,2020
          </time>
        </div>
        <div class="comments__right">
          <div class="comment__body">
            <p>
              Phasellus varius faucibus ultrices odio&nbsp;in.
               Massa neque dictum natoque ornare rutrum malesuada
               et&nbsp;phasellus. Viverra natoque nulla cras vel
                nisl proin senectus. Tortor sed eleifend
              ante tristique felis sed urna aliquet.
               Suspendisse fames egestas sed duis purus diam&nbsp;et.
            </p>
          </div>
          <button class="btn-reset comment__reply">

            <svg>
              <use xlink:href="img/sprite.svg#reply"></use>
            </svg>

            <span>Reply</span>
          </button>
        </div>
      </article>
    </li>
    <li class="comments__item">
      <article class="comment">

        <div class="comment__left">
          <span class="comments__author">
            Devon Lane
          </span>
          <time datetime="2020-07-15 19:00" class="comment__time">
            July 15,2020
          </time>
        </div>
        <div class="comments__right">
          <div class="comment__body">
            <p>
              Phasellus varius faucibus ultrices odio&nbsp;in.
               Massa neque dictum natoque ornare rutrum malesuada
               et&nbsp;phasellus. Viverra natoque nulla cras vel
                nisl proin senectus. Tortor sed eleifend
              ante tristique felis sed urna aliquet.
               Suspendisse fames egestas sed duis purus diam&nbsp;et.
            </p>
          </div>
          <button class="btn-reset comment__reply">

            <svg>
              <use xlink:href="img/sprite.svg#reply"></use>
            </svg>

            <span>Reply</span>
          </button>
        </div>
      </article>
    </li>
    <li class="comments__item">
      <article class="comment">

        <div class="comment__left">
          <span class="comments__author">
            Devon Lane
          </span>
          <time datetime="2020-07-15 19:00" class="comment__time">
            July 15,2020
          </time>
        </div>
        <div class="comments__right">
          <div class="comment__body">
            <p>
              <a href="#">@Devon Lane</a>
              Phasellus varius faucibus ultrices odio&nbsp;in.
               Massa neque dictum natoque ornare rutrum malesuada
               et&nbsp;phasellus. Viverra natoque nulla cras vel
                nisl proin senectus. Tortor sed eleifend
              ante tristique felis sed urna aliquet.
               Suspendisse fames egestas sed duis purus diam&nbsp;et.
            </p>
          </div>
          <button class="btn-reset comment__reply">

            <svg>
              <use xlink:href="img/sprite.svg#reply"></use>
            </svg>

            <span>Reply</span>
          </button>
        </div>
      </article>
    </li>
    <li class="comments__item">
      <article class="comment">

        <div class="comment__left">
          <span class="comments__author">
            Devon Lane
          </span>
          <time datetime="2020-07-15 19:00" class="comment__time">
            July 15,2020
          </time>
        </div>
        <div class="comments__right">
          <div class="comment__body">
            <p>
              Phasellus varius faucibus ultrices odio&nbsp;in.
               Massa neque dictum natoque ornare rutrum malesuada
               et&nbsp;phasellus. Viverra natoque nulla cras vel
                nisl proin senectus. Tortor sed eleifend
              ante tristique felis sed urna aliquet.
               Suspendisse fames egestas sed duis purus diam&nbsp;et.
            </p>
          </div>
          <button class="btn-reset comment__reply">

            <svg>
              <use xlink:href="img/sprite.svg#reply"></use>
            </svg>

            <span>Reply</span>
          </button>
        </div>
      </article>
    </li>
  </ul>
</div>
